@model IEnumerable<Homework5_u20494000.Models.ViewModels.Books2>

@{
    ViewBag.Title = "Index";
}

<h2>Books:</h2>
<hr/>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4">
            <input class="form-control" placeholder="Search Book"/>
        </div>
        <div class="col-lg-2">
            <select class="form-control" placeholder="Search Type" >

            </select>
        </div>
        <div class="col-lg-2">
            <select class="form-control" placeholder="Select author">

            </select>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-success btn-lg">Search</button>
        </div>
        <div class="col-lg-2">
            <button class="btn btn-danger btn-lg">Clear</button>
        </div>
    </div>
</div>
<hr/>


<table class="table table-striped">
    <thead>
        <tr>
        <tr>
            <th>
                £
            </th>
            <th>
                Name:
            </th>
            <th>
                Author:
            </th>
            <th>
                Type:
            </th>
            <th>
                Page Count:
            </th>
            <th>
                Points:
            </th>
            <th>
                Status:
            </th>
            <th></th>
        </tr>
        

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorSurname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Point)
            </td>
            <td>
                @if (item.Status == true)
                {
                    <span class="text-success">AVAILABLE</span>
                }
                else
                {
                    <span class="text-danger">OUT</span>
                }
            </td>
            <td>
                <button class="btn btn-primary">View</button>
                
            </td>
        </tr>
        }
    </tbody>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Point)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorSurname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th></th>
    </tr>



</table>
